@import "reset-css";

$pr-text-color: rgb(83, 55, 56);
$pr-bg-color: #EFE6E4;

body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    overflow: hidden;
}

.header {
    position: relative;
    overflow: hidden;
    color: $pr-text-color;
    min-height: 715px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px 5px 0 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__title {
    text-transform: uppercase;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.header__item {
    a {
        padding: 2px 7px;
        font-size: 16px;
        text-transform: capitalize;
        color: $pr-text-color;
        transition: 0.2s;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        background-color: rgba(83, 55, 56, 0.3);
        transition: 0.2s;
    }
}

.header__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.requisition {
    margin: 90px auto 0 auto;
    width: 80%;
}

.requisition__title {
    width: 520px;
    font-size: 50px;
    line-height: 62px;
}

.requisition__text {
    margin-top: 20px;
    width: 480px;
    font-size: 18px;
    line-height: 30px;
}

.requisition__button {
    box-sizing: border-box;
    margin-top: 20px;
    width: 310px;
    height: 74px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: $pr-text-color;
    border: 0;
    background-color: rgb(204, 139, 134);
    outline: 0;
    cursor: pointer;   
    transition: .2s;
}

.requisition__button:hover {
    color: white;
    background-color: rgba(204, 139, 134, .8);
    transition: .2s;
}

.section-title {
    padding: 0 0 40px 0;
    font-size: 40px;
    line-height: 50px;
    color: $pr-text-color;
    text-transform: uppercase;
    text-align: center;
}

.section-title_portfolio {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.section-title_footer {
    color: #fff;
    text-align: left;
}

.about {
    padding: 65px 0 20px 0;
    background-color: $pr-bg-color;
}

.about__description-block {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.about__text-block {
    margin-left: 60px;
}

.about__text {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
}

.about__img {
    max-width: 500px;
}

.stats {
    padding: 80px 0;
    background-color: #8D7370;
}

.stats__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats__item {
    text-align: center;
}

.stats__num,
.stats__text {
    color: #fff;
    text-transform: uppercase;
}

.stats__num {
    font-size: 50px;
    line-height: 62px;
}

.stats__text {
    font-size: 30px;
}

.portfolio {
    padding: 65px 0 50px 0;
    background-color: $pr-bg-color;
}

.portfolio__gallery {
    width: 90%;
    margin: 0 auto;
}

.portfolio__photo-row {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    img:first-child {
        margin-right: 15px;
    }
}

.portfolio__more {
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
    transition: .2s;
    cursor: pointer;

    path {
        transition: .2s;
    }
}

.portfolio__more:hover {
    background-color: rgba(83, 55, 56, 0.3);
    color: #fff;
    transition: .2s;

    path {
        fill: #fff;
        transition: .2s;
    }
}

.team {
    padding: 50px 0;
    background-color: #E2C4BA;
}

.team__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 65px;
    width: 80%;
}

.team__list_numbered {
    counter-reset: listCounter;
}

.team__list-item {
    margin: 0 10px;
    color: $pr-text-color;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.team__list-item::before {
    counter-increment: listCounter;
    content: counter(listCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    border-radius: 100%;
    background-color: #8D7370;
}

.team__employee {
    max-width: 320px;
    margin: 5px 20px;
}

.team__photo {
    display: block;
    max-height: 250px;
    width: 100%;
    overflow: hidden;
}

.team__employee-description {
    margin-top: 10px;
    color: $pr-text-color;
    font-size: 18px;
    line-height: 30px;
}

.reviews {
    padding: 65px 0;
    background-color: $pr-bg-color;
}

.reviews__container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    height: 600px;
}

.reviews__list {
    width: 99999px;
    transition: .4s;
    height: 100%;
}

.reviews__review {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 85px;
    width: 80vw;
    height: 100%;
}

.reviews__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;
    font-size: 18px;
    line-height: 30px;
    color: $pr-text-color;
    white-space: pre-line;
    transition: .2s;

    p {
        width: 100%;
    }

    span {
        width: 100%;
    }
}

.reviews__author {
    text-transform: uppercase;
}

.reviews__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    height: 100%;
    width: 49%;
    transition: .2s;
}

.reivews__image {
    width: 405px;
    height: 270px;

    img {
        display: block;
    }
}

.reviews__image:first-child {
    margin-bottom: 15px;
}

.reviews__animated-item {
    transition: .2s;
}

.reviews__animated-item.shadowed {
    opacity: 0;
}

.reviews__slider-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 100%;
    background-color: #CC8B86;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    transition: .2s;
    cursor: pointer;
}

.reviews__slider-button:hover {
    background-color:rgb(83, 55, 56);
    transition: .2s;
}

.reviews__slider-button:active {
    transform: translate(0, -50%) scale(0.7);
}

.reviews__slider-button_right {
    right: 0;
    transform: translate(0, -50%) rotate(180deg);
}

.reviews__slider-button_right:active {
    transform: translate(0, -50%) rotate(180deg) scale(0.8);
}

.footer {
    background-color: #8D7370;
}

@media screen and (max-width: 1400px) {
    .header__bg-image {
        width: 1400px;
    }
}